body {
  background-color: grey;
  background-image: url("https://media-s3-us-east-1.ceros.com/spg/images/2021/03/10/fc6fad9dda4f7010b93180b72b654732/graphics-mbs.png");
}
#header {
  margin: 5px;
  max-width: 660px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#how-to-play {
  margin: 5px;
  max-width: 600px;
  text-align: justify;
  background-color: white;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  padding-left: 30px;
  padding-right: 30px;
}
.info-button-container {
  margin: 5px;
  height: 50px;
  background-color: rgb(243, 243, 164);
  max-width: 660px;
  border-radius: 10px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-container {
  margin: 5px;
  height: 1000px;
  background-color: paleturquoise;
  max-width: 660px;
  border-radius: 10px;
  text-align: center;
}
.card {
  margin: 10px;
  padding: 10px;
  background-color: white;
  width: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  align-items: center;
}
.suit {
  margin: 5px;
  font-size: 20px;
}
.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: Helvetica;
}
.card-border {
  margin: 5px;
  border-color: hotpink;
}
