body {
  background-color: grey;
}
#header {
  margin: 5px;
  max-width: 600px;
  text-align: center;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#how-to-play {
  margin: 5px;
  max-width: 600px;
  text-align: justify;
  background-color: white;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
}
.card {
  margin: 10px;
  padding: 10px;
  background-color: white;
  width: 50px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}
.card-container {
  margin: 5px;
  height: 200px;
  background-color: paleturquoise;
  width: 600px;
  border-radius: 10px;
  display: inline-block;
}
.suit {
  margin: 5px;
  font-size: 20px;
}
.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: Helvetica;
}
.red {
  color: red;
}
.card-border {
  margin: 5px;
  border-color: hotpink;
}
